<div class="row">
  <div class ="col-md-2">
  </div>
  <div class="col-md-8 center">
  <h1>OpenSuperlist - Todo!</h1><br/>
  
  <%= form_tag do %>
    <table class="table js-todos table-striped">
      <thead>
        <tr>
          <th>Todo list</th>
          <th>Days left</th>
          <th>Completed</th>
          <th>Action</th>
        </tr>
      </thead>
      <%= render partial: 'todos/todo', collection: @todos %>
    </table>
    <%= button_tag "Delete completed", data: { delete_multiple_button: true } %>
  <% end %>
    
    
    <br/>
    <div class='new-todo'>
      <%= render partial: 'todos/form' %>
    </div>
  </div>

  <div class ="col-md-2">
  </div>

</div>